fastapi
uvicorn
pydantic
python-jose[cryptography]
passlib[bcrypt]
pandas
qdrant-client
fastembed
docling
transformers
sentence-transformers
langchain
langchain-community
langchain-core
langchain-groq
langchain-qdrant
langchain-huggingface
langchain-classic
python-dotenv
sqlalchemy
jinja2
